<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jy.xinlangweibo"
    android:versionCode="60"
    android:versionName="6.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/appTheme">

        <meta-data
            android:name="com.jy.xinlangweibo.utils.CommonImageLoader.MyGlideModule"
            android:value="GlideModule" />
        <!--splash activity-->
        <activity
            android:name=".ui.activity.FirstActivity"
            android:theme="@style/AppThemeTranslucentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppThemeNotTranslucent" />
        <!--新浪微博浏览器页-->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!--登陆页-->
        <activity android:name=".ui.activity.LoginActivity" />
        <!--带fragment和toolbar的页面-->
        <activity android:name=".ui.activity.base.FragmentToolbarActivity"
                android:theme="@style/AppThemeNotTranslucentStatusBar"/>
        <!--详情页-->
        <activity android:name=".ui.activity.StatusDetailsActivity"
            android:theme="@style/AppThemeTranslucentStatusBar"/>
        <activity android:name=".ui.activity.StatusDetails2Activity"
            android:theme="@style/AppThemeTranslucentStatusBar"/>
        <!--照片选择页-->
        <activity android:name=".ui.activity.BGAPhotoPickerActivity" />
        <!--照片选择预览页-->
        <activity android:name=".ui.activity.BGAPhotoPickerPreviewActivity" />
        <!--微博发布页-->
        <activity
            android:name=".ui.activity.WriteStatusActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:theme="@style/AppThemeNotTranslucentStatusBar"/>
        <!--        <activity
                    android:name=".ui.activity.ImageBrowseActivity"
                    android:label="@string/title_activity_image_browse" />-->
        <!--浏览器页-->
        <activity
            android:name=".ui.activity.WebActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_web" />

        <activity
            android:name=".ui.activity.BrowserActivity"
            android:hardwareAccelerated="true"
             />

        <!--用户信息显示页-->
        <activity
            android:name=".ui.activity.UserShowActivity"
            android:theme="@style/UserShowActivityTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.jy.xinlangweibo.usershow"/>
            </intent-filter>
        </activity>
        <!--在线视频详情页-->
        <activity android:name=".ui.activity.VideoInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name="com.jy.xinlangweibo.share.shareutil._ShareActivity"
            />
        <!-- 发布服务 -->
        <service android:name=".service.publish.PublishService"/>

        <!--QQ分享-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105005431" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden">
        </activity>

    </application>

</manifest>